/* General */

:root {
    /* Images */
    --menu-icon: url("/src/public/assets/icons/icon-menu.svg");
    --rotate-icon: url("/src/public/assets/icons/icon-rotate-camera.svg");
    --planet-icon: url("/src/public/assets/icons/icon-planet.svg");
  
    /* Colors */
    --background: linear-gradient(var(--second-color), var(--first-color));
    --first-color: #210535;
    --second-color: #430d4b;
    --third-color: #7b337d;
    --fourth-color: #c874b2;
    --fifth-color: #f5d5e0;
  
    /* Dimensions */
  
    --button-size: 3em;
  }
  
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
    height: 0;
  }
  
  /* Icons */
  
  [class$="icon"] {
    position: relative;
    z-index: 1;
    height: 80%;
    width: 80%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    filter: invert(96%) sepia(52%) saturate(463%) hue-rotate(287deg)
      brightness(95%) contrast(100%);
  }
  
  .menu-icon {
    background: var(--menu-icon) no-repeat;
  }
  
  .rotate-icon {
    transform: translateY(-30%);
    background: var(--rotate-icon) no-repeat;
  }
  
  .planet-icon {
    height: 70%;
    width: 70%;
    background: var(--planet-icon) no-repeat;
  }
  
  /* Menu Buttons */
  
  .menu-button {
    height: var(--button-size);
    width: var(--button-size);
    transition: 0.3s;
    background-color: var(--second-color);
  }
  
  .menu-button:active {
    background-color: var(--first-color);
  }
  
  ul > .menu-button {
    display: inline-block;
    margin-left: 0.25em;
  }
  
  ul > .menu-button:first-child {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    margin: 0;
  }
  
  ul > .menu-button:last-child {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }
  
  /* Menu Container */
  .menu-container {
    height: calc(var(--button-size) + 1em);
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background: var(--background);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  /* Menu Toggle Button */
  
  .menu-toggle {
    left: 0;
    top: 0;
    border-radius: 1em;
    margin: 0.5em 0.5em;
  }
  
  /* Menu Options Container */
  .menu-options {
    white-space: nowrap;
    list-style-type: none;
    height: var(--button-size);
    max-width: calc(100% - var(--button-size) - 1.5em);
    position: fixed;
    left: calc(var(--button-size) + 1em);
    top: 0.5em;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .menu-options.closed {
    max-width: 0;
  }